@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Indie+Flower&family=Shizuru&family=Titan+One&display=swap');

.Login {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.315) url("../../../Assets/Images/LoginBackGroundImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-blend-mode: darken;
}
.Login span {
    position: absolute;
    bottom: 40px;
    left: 32px;
    font-size: 12px;
}
.Login .errorSpan {
    color: rgb(255, 101, 101);
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 20px
}
.Login a:hover{
    text-decoration: none;
    color: rgb(21, 217, 252);
}
.Login > div{
    text-align: left;
    margin: auto;
    color: white ;
    position: relative;

}
.Login .inputContainer {
    position: relative;
    display: inline-block;

    
}
.Login input {
    background-color: transparent  ;
    border: 0.5px solid white ;
    color: white ;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 20px 20px;
    height: 40px;
    
}
.Login label{
    position: absolute;
    left: 20px;
    top: -5px;
    font-size: 12px;
    padding-top: 10px;
}
.Login  .BtnGroup{
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: 10px
}
.Login form{
    display: flex;
    margin: auto;
    width: 700px;
    background-color: rgba(0, 12, 78, 0.671);
    border-radius: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.596);
    padding: 40px 10px;
}
.Login  h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 50px;
    margin-top: -200px;
    text-align: left    ;

}